html, body {
    height: 100%;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}
footer {
    background: #f2f2f2;
    text-align: center;
    padding: 10px 0;
}
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header{
    background: url(images/24.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 40vh;
    width: 100%;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    aligh-items: center;
}

.nav-links{
    flex: 1;
    text-aligh: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 24px;
    position: relative;
    float: right;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

/* --------------index------------------- */
#index{
    padding: 0px 0;
    color: #black;
}

.container-index{
    padding: 0px 10%;
}

.row-index{
    margin-top: 3%;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row-index h1{
    margin: auto;
    font-size: 32px;
    text-align: center;
}

.row-index p{
    margin: 10px 0 40px;
    font-size: 16px;
    line-height: 30px;
}

/* --------------about------------------- */
#about{
    padding: 0px 0;
    color: #black;
}

.container-about{
    padding: 10px 10%;
}

.row-about{
    margin-top: 3%;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 30%;
}

.about-col-1 img{
    width: 80%;
    border-radius: 10px;
}

.about-col-2{
    flex-basis: 65%;
}

.sub-title-about{
    font-size: 40px;
    font-weight: 600;
    color: #black;
}

/* --------------research------------------- */
#research{
    padding: 0px 0;
    color: #black;
}

.container-research{
    padding: 10px 10%;
}

.row-research{
    margin-top: 3%;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.research-col-1{
    flex-basis: 65%;
}

.research-col-2{
    flex-basis: 30%;
}

.research-col-2 img{
    width: 100%;
    border-radius: 10px;
}

.research-col-2 a:link{
  padding: 14px 50px;
  display: inline-block;
}

.research-col-2 p{
  padding: 0px 5px;
}

/* --------------teaching------------------- */
#teaching{
    padding: 0px 0;
    color: #black;
}

.container-teaching{
    padding: 0px 10%;
}

.row-teaching{
    margin-top: 3%;
    margin-bottom: 10%;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.teaching-col-1{
    flex-basis: 65%;
}

.teaching-col-2{
    flex-basis: 30%;
}

.teaching-col-2 img{
    width: 100%;
    border-radius: 10px;
}

/* --------------life------------------- */
.life-desc{
    width: 90%;
    position: absolute;
    top: 45%;
    left: 25%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.life-desc p{
    margin: 50px 0 40px;
    font-size: 16px;
}

.lifephoto1{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.row1{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.lifephoto1-col{
    flex-basis: 32%;
    border-radius: 0px;
    margin-bottom: 0px;
    position: relative;
    overflow: hidden;
}

.lifephoto1 img{
    width: 85%;
    height:70%;
}

.lifephoto2{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 0px;
}

.row2{
    margin-top: -7%;
    display: flex;
    justify-content: space-between;
}

.lifephoto2-col{
    flex-basis: 32%;
    border-radius: 0px;
    padding-bottom: 2%;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.lifephoto2 img{
    width: 85%;
    height:65%;
}


